body {
    padding: 0;
    margin: 0;
    background: gray;
}

#generalContainer {
    height: 100vh;
    display: grid;
    gap: .5rem;

    grid-template:
    "nav aside header"  10rem
    "nav aside main"   auto
    "nav aside footer" 4rem /
    8rem 12rem  auto; 
}

header {
    grid-area: header;
    display: flex;
    justify-content: right;
    border: .5rem solid purple; 
    background: white;
}

#imagemoney    {
    height: 10rem ;
}

header #pagemoney {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

nav {
    grid-area: nav;
    border: .5rem solid black; 
    background: white;

}

.mango {
    border: 0.1rem solid purple;
    /* height: 1rem;  */
}
.pera {
    border: 0.1rem solid red; 
}
.yuca {
    border: 0.1rem solid black; 
}
.altura {
    /* height: 3rem; */
}



aside {
    grid-area: aside;
    border: .5rem solid red; 
    background: white;

}
.guanabana {
    border: 0.1rem solid purple; 
}
.banano {
    border: 0.1rem solid red; 
}
.papa {
    border: 0.1rem solid black; 
}



main {
    grid-area: main;
    border: 1rem solid purple; 
    background: white;

}
footer {
    grid-area: footer;
    border: .5rem solid blue; 
    background: white;

}
